<div class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center text-primary">Display Image</h2>
                    <div class="row">
                        <div class="col-md-12 ">
                            <button type="button" class="btn btn-dark btn-lg float-end"
                            data-bs-toggle="modal" data-bs-target="#add" style="background-color:#2d3b55;">Add Image</button>
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered table-danger">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Id</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let get of data1" class="text-center">
                                    <td>{{get._id}}</td>
                                    <td>{{get.title}}</td>
                                    <td><img src={{get.image.url}}></td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    <!-- Modal -->
    <form [formGroup]="data" (ngSubmit)="imageinsert()">
        <div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Please Fill the Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Title</label>
                            <input type="text" class="form-control" placeholder="Enter Title"
                                formControlName="title" required>
                        </div>
                         <div class="mb-3">
                            <label for="exampleInputCity" class="form-label">Image</label>
                            <input type="file" (change)="onSelectFile($event)"  class="form-control" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Image</button>
                    </div>
                </div>
            </div>
        </div>
    </form> 


<!-- <form [formGroup]="data" (ngSubmit)="imageinsert()">
    <div class="mb-3">
        <label>TITLE:</label>
        <input type="text" formControlName="title" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Image:</label>
        <input type="file" (change)="onSelectFile($event)"  class="form-control" />
    </div>
    <button type="submit">Submit</button>
</form> -->